In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("spam_ham_dataset.csv")

In [3]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
def spamham(x):
    if x=="spam":
        return 1
    else:
        return 0

In [5]:
df["spam"]=df["label"].map(spamham)

In [6]:
df.head()

,Unnamed: 0,label,text,label_num,spam
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,0

In [7]:
final=df.drop(columns="label_num")

In [8]:
final.head()

   Unnamed: 0 label                                               text  spam
0         605   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1        2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2        3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3        4685  spam  Subject: photoshop , windows , office . cheap ...     1
4        2030   ham  Subject: re : indian springs\r\nthis deal is t...     0

In [33]:
x=final.text

In [35]:
x.head()

0    Subject: enron methanol ; meter # : 988291\r\n...
1    Subject: hpl nom for january 9 , 2001\r\n( see...
2    Subject: neon retreat\r\nho ho ho , we ' re ar...
3    Subject: photoshop , windows , office . cheap ...
4    Subject: re : indian springs\r\nthis deal is t...
Name: text, dtype: object

In [36]:
y=final.spam

In [37]:
y.head()

0    0
1    0
2    0
3    1
4    0
Name: spam, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [39]:
x_train.shape

(3878,)

In [40]:
x_test.shape

(1293,)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
vect=CountVectorizer()

In [43]:
vect

CountVectorizer()

In [44]:
x_train_count=vect.fit_transform(x_train)

In [45]:
x_train_count.toarray()

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [2, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [47]:
pd.DataFrame(x_train_count.toarray(),columns=vect.get_feature_names_out())

,00,000,0000,000000,000000000002858,000000000049773,000080,000099,0001,00018,...,zykfe,zyl,zynsdirnh,zynve,zyqtaqlt,zyrtec,zzn,zzocb,zzso,zzsyt
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3873,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3874,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3875,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3876,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
x_test_count=vect.transform(x_test)

In [53]:
x_test_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [2, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [54]:
from sklearn.naive_bayes import MultinomialNB

In [55]:
nb=MultinomialNB()

In [56]:
nb.fit(x_train_count,y_train)

MultinomialNB()

In [57]:
pred=nb.predict(x_test_count)

In [58]:
from sklearn import metrics

In [61]:
acc=metrics.accuracy_score(pred,y_test)*100

In [62]:
acc

98.2985305491106

In [71]:
var=[
'amazon is sending you of rs 10 .Please reply with your bank account and routing number to receive refund',
    'hey mohan can we get together to watch football game'
]
var_count=vect.transform(var)

In [74]:
res=(nb.predict(var_count))

array([1, 0], dtype=int64)

In [79]:
for i in res:
    if i==0:
        print("ham")
    else:
        print("spam")

spam
ham